<!doctype html>
<html th:fragment="toolsidebar (template, menu)">

<body>
	<nav class="col-md-2 d-none d-md-block bg-light sidebar">
		<div class="side-sticky">
			<ul class="nav flex-column">
				<li class="nav-item"><a href="/techniques" class="nav-link"><span
						class="glyphicon glyphicon-wrench"></span> Techniques</a></li>
			</ul>
			<h6
				class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span>Workshops</span> <a
					class="d-flex align-items-center text-muted"
					href="/workshop/create/"> <span
					class="glyphicon glyphicon-plus-sign"></span>
				</a>
			</h6>

			<ul class="nav flex-column mb-2" th:each="workshop:${workshops}">
				<li class="nav-item"><a class="nav-link"
					th:class="${menu == workshop.shortURI}? 'active'"
					th:href="@{/workshop(uri=${workshop.shortURI})}"
					th:text="${workshop.shortURI}"> Workshop </a></li>
			</ul>

		</div>
	</nav>
</body>