<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'tool')}">
<body>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{fragments/toolsidebar :: toolsidebar (~{::body}, 'technique')}"></div>
			<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="side-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a href="#" class="nav-link"><span
								class="glyphicon glyphicon-wrench"></span> Techniques</a></li>
					</ul>
				</div>
			</nav> -->
			<main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
			<h2 th:text="#{techDetail.pageTitle}" >Technique details</h2>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.techTitle}">Title</h4></div>
				<div class="col-md-8" th:text="${technique.name}"></div>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.description}">Description</h4></div>
				<div class="col-md-8" th:text="${technique.description}"></div>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.difficulty}">Difficulty to implement</h4></div>
				<div class="col-md-8" th:text="${technique.difficulty}"></div>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.funfact}">Fun Factor</h4></div>
				<div class="col-md-8" th:text="${technique.funFactor}"></div>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.energy}">Energy</h4></div>
				<div class="col-md-8" th:text="${technique.energyLevel}"></div>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.quantity}">Quantity </h4></div>
				<div class="col-md-8" th:text="${technique.quantityLevel}"></div>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.phase}">Creative Phase</h4></div>
				<div class="col-md-8" th:text="${technique.creativePhase}"></div>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.function}">Function</h4></div>
				<div class="col-md-8" th:text="${technique.function}"></div>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 th:text="#{techDetail.duration}">Duration</h4></div>
				<div class="col-md-8" th:text="${technique.duration}"></div>
			</div>
			</main>
		</div>
	</div>
</body>
</html>