<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'tool')}">
<body>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{fragments/toolsidebar :: toolsidebar (~{::body}, 'menu')}"></div>
			<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="side-sticky">
					<ul class="nav flex-column">
						<li class="nav-item"><a href="#" class="nav-link"><span
								class="glyphicon glyphicon-wrench"></span> Techniques</a></li>
					</ul>
				</div>
			</nav> -->
			<main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
			<h2>Liste des Techniques</h2>
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<td>Name</td>
							<td>Quantity</td>
							<td>Energy</td>
							<td>Difficulty</td>
							<td>Fun factor</td>
							<td>Novelty</td>
							<td>Creative Phase</td>
							<td>Function</td>
						</tr>
					</thead>
					<tbody th:each="technique : ${techniques}">
						<tr>
							<td><a href="/techniqueDetail"
								th:href="@{/techniqueDetail(uri=${technique.shortURI})}"
								th:text="${technique.shortURI}"> text </a></td>
							<td th:text="${technique.quantityLevel}" />
							<td th:text="${technique.energyLevel}" />
							<td th:text="${technique.difficulty}" />
							<td th:text="${technique.funFactor}" />
							<td th:text="${technique.novelty}" />
							<td th:text="${technique.creativePhase}" />
							<td th:text="${technique.function}" />
						</tr>
					</tbody>
				</table>
			</div>
			</main>
		</div>
	</div>
</body>
</html>